* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  font-family: "Rubik", sans-serif;
  background-color: hsl(180, 52%, 96%);
}

header {
  background-image: url("src/images/bg-header-desktop.svg");
  min-height: 20vh;
  background-color: hsl(180, 29%, 50%);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  background-repeat: no-repeat;
}

.filter-bar {
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  position: absolute;
  left: 10%;
  top: 15vh;
  z-index: 100;
  min-width: 80%;
}

.filter-bar__filters > .skill > .skill__title {
  display: inline;
}

.skill__remove-btn {
  display: inline;
  padding: 4px;
  cursor: pointer;
}

.filter-bar,
.filter-bar__filters {
  display: flex;
}

.filter-bar__clear-btn {
  cursor: pointer;
  font-weight: bold;
  color: #5ba4a4;
}

.filter-bar__clear-btn:hover {
  text-decoration: underline;
}

.main__jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job {
  background-color: white;
  margin: 0.7rem 0;
  border-radius: 0.3rem;
  width: 80%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 20px 3px #74adad64;
}

.job:hover {
  margin-left: solid 2px #5ba4a4;
}

.job__logo {
  margin-right: 2rem;
}

.job__logo img {
  border-radius: 100px;
  height: 88px;
}

.job__info {
  display: flex;
  align-items: center;
}

.job__main-details {
  margin-bottom: 15px;
}

.job__details {
  align-self: center;
}

.job__position {
  font-weight: bolder;
}

.job__company {
  color: #5ba4a4;
  font-weight: bolder;
}

.job__secondary-details {
  color: hsl(180, 8%, 52%);
  margin-top: 15px;
}

.job__secondary-details > span:not(:last-of-type)::after {
  content: "•";
  margin: 10px;
}

.job__skills {
  display: flex;
}

.skill {
  margin: 0.5rem;
  background-color: hsla(180, 46%, 56%, 0.3);
  border-radius: 5px;
  padding: 5px;
  font-weight: bolder;
  color: #5ba4a4;
  transition: background-color 0.3s ease-in-out;
}

.skill:hover {
  background-color: #5ba4a4;
  color: white;
}

.job__skills > .skill > .skill__title {
  cursor: pointer;
  display: inline;
}

.job__company {
  margin-right: 10px;
}

.job__company-tags {
  display: inline;
}

.job__company-tags > span {
  color: #fff;
  font-weight: 500;
  border-radius: 12px;
  padding: 5px;
  font-size: 0.8rem;
  margin-left: 5px;
}

.job__tag--new {
  background-color: #5ba4a4;
}

.job__tag--featured {
  background-color: black;
}

.main__error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(180, 29%, 50%);
  height: 100vh;
}

.error {
  text-align: center;
}

.loading {
  justify-content: center;
  min-height: 70vh;
}

.hide {
  display: none !important;
}

.loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: skLinRotate 1s ease-in-out infinite alternate;
  margin: 10px;
}

.loader__message {
  color: #5ba4a4;
}

.loader:after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: hsl(180, 29%, 50%);
}

@keyframes skLinRotate {
  95%,
  100% {
    transform: rotate(840deg);
  }
}
@media only screen and (max-width: 1064px) {
  .job {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .job__skills {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 795px) {
  .job {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .skill {
    display: inline;
  }
}

@media only screen and (max-width: 580px) {
  .job {
    width: 90%;
    height: 230px;
    display: flex;
    flex-direction: column;
  }

  .job-info {
    margin-bottom: 10px;
  }

  .skill {
    background: none;
  }

  .job__company {
    margin: 0;
  }

  .job__logo {
    margin: 0 10px 0 0;
  }

  .job__skills {
    margin-top: 0;
    display: inline;
  }

  .job__company-tags {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
  }

  .job__company-tags > span {
    margin: 0 2px 0 2px;
  }
}

@media only screen and (max-width: 470px) {
  .job {
    width: 90%;
    height: 260px;
    display: flex;
    flex-direction: column;
  }

  .skill {
    background: none;
  }

  .job__skills {
    display: inline;
  }
}
