* {
  box-sizing: border-box;
  margin: 0;
}

.hide {
  display: none !important;
}

body {
  font-family: "League Spartan", sans-serif;
  font-family: "Rubik", sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.job {
  background-color: lightgray;
  margin: 0.7rem 0;
  border-radius: 0.2rem;
  width: 80%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job__logo {
  margin-right: 2rem;
}

.job__logo img {
  height: 88px;
}

.job__info {
  display: flex;
  align-items: center;
}

.job__details {
  align-self: center;
}

.job__secondary-details {
  margin-top: 1rem;
}

.job__skills {
  display: flex;
}

.skill {
  margin: 0.5rem;
}

.job__skills > .skill > .skill__title {
  cursor: pointer;
  display: inline;
}

.filter-bar__filters > .skill > .skill__title {
  display: inline;
}

.skill__remove-btn {
  display: inline;
  cursor: pointer;
}

.filter-bar,
.filter-bar__filters {
  display: flex;
}

.filter-bar {
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
}

.filter-bar__clear-btn {
  cursor: pointer;
}
